page-azkar-details {

    ion-content{
        background-color: #A465DF;
    }
    .seperator{
        margin-bottom: 25px
    }
    .seperator1{
        margin-bottom: 30px
    }
    h5{
        color: brown;
        text-transform : uppercase
    }
}
